@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #e9e9e9;
  color: #666666;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*.tester {
    border-style: solid;
    border-width: 1px;
    display: block;
    width: 100px;
    height: 100px;
    background-color: #0000FF;
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.tester:hover {
    background-color: #FFCCCC;
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}*/

/*.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}*/

/* Pen Title */
.pen-title {
  padding: 50px 0;
  text-align: center;
  letter-spacing: 2px;
}
.pen-title h1 {
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: 300;
}
.pen-title h2 {
  margin: 0 0 0 0;
  font-size: 35px;
  font-weight: 300;
  text-align: left;
  height: 40px;
}
.pen-title span {
  font-size: 12px;
}
.pen-title span .fa {
  color: #FB226E;
}
.pen-title span a {
  color: #FB226E;
  font-weight: 600;
  text-decoration: none;
}

.lighter-text {
  color: #ABB0BE;
}

.main-color-text {
  color: #6394F8;
}

nav {
  padding: 0px 0px 51px 0px;
  background: #F8F8F8;
  font-size: 16px;
}
nav .navbar-left {
  float: left;
  margin-top: 2px;
  margin-left: -6px;
}
nav .navbar-right {
  float: right;
  margin-top: -24px;
  margin-right: -24px;
}
nav ul li {
  display: inline;
  padding-left: 20px;
  color: #666666;
}
nav ul li a {
  color: #777777;
  text-decoration: none;
}
nav ul li a:hover {
  color: black;
}

.container-st {
  margin: 0px 0 0px -34px;
  width: 100%;
}

.badge {
  /*background-color: #ff4081;*/
  background-color: #6394F8;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.shopping-cart {
  margin-right: -160px;
  margin-left: -160px;
  margin-top: 20px;
  left: -60px;
  top: 10px;
  float: right;
  background: white;
  width: 320px;
  position: relative;
  /*border-radius: 3px;*/
  padding: 20px;
  /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);*/
}
.shopping-cart .shopping-cart-header {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 15px;
}
.shopping-cart .shopping-cart-header .shopping-cart-total {
  float: right;
}
.shopping-cart .shopping-cart-items {
  padding-top: 20px;
  padding-left: 4px;
}
.shopping-cart .shopping-cart-items li {
  margin-bottom: 18px;
  color: #666666;
}
.shopping-cart .shopping-cart-items img {
  float: left;
  margin-right: 10px;
}
.shopping-cart .shopping-cart-items .item-name {
  display: block;
  padding-top: 10px;
  font-size: 16px;
  /*color: #666666;*/
}
.shopping-cart .shopping-cart-items .item-price {
  color: #6394F8;
  margin-right: 8px;
}
.shopping-cart .shopping-cart-items .item-quantity {
  color: #ABB0BE;
}

.shopping-cart:after {
  bottom: 100%;
  left: 89%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: white;
  border-width: 8px;
  margin-left: -8px;
}

.cart-icon {
  color: #666666;
  /*color: #515783;*/
  font-size: 24px;
  margin-right: 7px;
  float: left;
}

.button {
  background: #6394F8;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  margin: 25px 0 15px 0;
}
.button:hover {
  background: #729ef9;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}*/

/*.header {
  background-color: paleturquoise;
}
.description {
  background-color: turquoise;
}

.greeting {
  width: 300px;
  text-align: center;
  margin: 0 auto;
}

.example-enter {
  transform: scale(.1);
}

.example-enter.example-enter-active {
  transform: scale(1);
  transition: all .5s ease-in-out;
}

.example-leave {
   transform: scale(1);
}

.example-leave.example-leave-active {
  transform: scale(0);
  transition: all .5s ease-in-out;
}*/

/* Container */
.container {
  position: relative;
  max-width: 440px;
  width: 100%;
  margin: 0 auto 100px;
}
.container.active .card:first-child {
  background: #f2f2f2;
  margin: 0 15px;
}
.container.active .card:nth-child(2) {
  background: #fafafa;
  margin: 0 10px;
}
.container.active .card.alt {
  top: 20px;
  right: 0;
  width: 100%;
  min-width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 60px 0 40px;
  overflow: hidden;
}
/*.container.active .card.alt .toggle {
  position: absolute;
  top: 40px;
  right: -70px;
  box-shadow: none;
  -webkit-transform: scale(10);
  transform: scale(10);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}*/
/*.container.active .card.alt .toggle:before {
  content: '';
}*/
.container.active .card.alt .title,
.container.active .card.alt .input-container,
.container.active .card.alt .button-container {
  left: 0;
  opacity: 1;
  visibility: visible;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.container.active .card.alt .title {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}
.container.active .card.alt .input-container {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}
.container.active .card.alt .input-container:nth-child(2) {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}
.container.active .card.alt .input-container:nth-child(3) {
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}
.container.active .card.alt .button-container {
  -webkit-transition-delay: .7s;
          transition-delay: .7s;
}

/* Card */
.card {
  position: relative;
  /*background: #ffffff;*/
  /*background: #f2f2f2;*/
  background: #eee;
  /*border-radius: 5px;*/
  padding: 60px 0 40px 0;
  box-sizing: border-box;
  /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);*/
  -webkit-transition: .3s ease;
  transition: .3s ease;
  /* Title */
  /* Inputs */
  /* Button */
  /* Footer */
  /* Alt Card */
}
.card:first-child {
  /*background: #fafafa;
  height: 10px;
  /*border-radius: 5px 5px 0 0;*/
  margin: 0 10px;
  padding: 0;
}

.card .tab-content {
  border-radius: 0 0 8px 8px;
  color : white;
  background-color: white;
  padding : 20px 15px 40px;
}

.card .tab-content-reg {
  border-radius: 0 0 8px 8px;
  color : white;
  background-color: white;
  padding : 20px 15px 40px;
}

.card .title {
  position: relative;
  z-index: 1;
  border-left: 5px solid #FB226E;
  margin: 0 0 35px;
  padding: 10px 0 10px 50px;
  color: #FB226E;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}
.card .input-container {
  position: relative;
  margin: 0 60px 50px;
}

.card .input-container input {
  outline: none;
  z-index: 1;
  position: relative;
  background: none;
  width: 100%;
  height: 60px;
  border: 0;
  color: #212121;
  font-size: 24px;
  font-weight: 400;
}
.card .input-container input:focus ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container input:focus ~ .bar:before, .card .input-container input:focus ~ .bar:after {
  width: 50%;
}
.card .input-container input:valid ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container label {
  position: absolute;
  top: 0;
  left: 0;
  color: #757575;
  font-size: 21px;
  font-weight: 300;
  line-height: 60px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.card .input-container .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #757575;
  width: 100%;
  height: 1px;
}
.card .input-container .bar:before, .card .input-container .bar:after {
  content: '';
  position: absolute;
  background: #FB226E;
  width: 0;
  height: 2px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}
.card .input-container .bar:before {
  left: 50%;
}
.card .input-container .bar:after {
  right: 50%;
}
/*.card .button-container {
  margin: 0 60px;
  text-align: center;
}*/
.card .button-container {
  margin: 0 39%;
  text-align: center;

  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: 0;
  width: 240px;
  border: 2px solid #e3e3e3;
  padding: 20px 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .button-container span {
  position: relative;
  z-index: 1;
  color: #ddd;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .button-container:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background: #FB226E;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .button-container:hover, .card .button-container:active, .card .button-container:focus {
  border-color: #FB226E;
}
.card .button-container:hover span, .card .button-container:active span, .card .button-container:focus span {
  color: #FB226E;
}
.card .button-container:active span, .card .button-container:focus span {
  color: #ffffff;
}
.card .button-container:active:before, .card .button-container:focus:before {
  opacity: 1;
  -webkit-transform: scale(10);
  transform: scale(10);
}
.card .footer {
  margin: 40px 0 0;
  color: #d3d3d3;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
.card .footer a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .footer a:hover {
  color: #bababa;
}
.card.alt {
  position: absolute;
  top: 61px;
  right: 61px;
  z-index: 10;
  width: 56px;
  height: 56px;
  background: none;
  border-radius: 100%;
  box-shadow: none;
  padding: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  /* Toggle */
  /* Title */
  /* Input */
  /* Button */
}
/*.card.alt .toggle {
  position: relative;
  background: #FB226E;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #ffffff;
  font-size: 58px;
  line-height: 140px;
  text-align: center;
  cursor: pointer;
}*/
/*.card.alt .toggle:before {
  content: '\f040';
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}*/
.card.alt .title,
.card.alt .input-container,
.card.alt .button-container {
  left: 100px;
  opacity: 0;
  visibility: hidden;
}
.card.alt .title {
  position: relative;
  border-color: #ffffff;
  color: #ffffff;
}
.card.alt .title .close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 60px;
  display: inline;
  color: #ffffff;
  font-size: 58px;
  font-weight: 400;
}
.card.alt .title .close:before {
  content: '\00d7';
}
.card.alt .input-container input {
  color: #ffffff;
}
.card.alt .input-container input:focus ~ label {
  color: #ffffff;
}
.card.alt .input-container input:focus ~ .bar:before, .card.alt .input-container input:focus ~ .bar:after {
  background: #ffffff;
}
.card.alt .input-container input:valid ~ label {
  color: #ffffff;
}
.card.alt .input-container label {
  color: rgba(255, 255, 255, 0.8);
}
.card.alt .input-container .bar {
  background: rgba(255, 255, 255, 0.8);
}
.card.alt .button-container {
  width: 100%;
  background: #ffffff;
  border-color: #ffffff;
}
.card.alt .button-container span {
  color: #FB226E;
}
.card.alt .button-container:hover {
  background: rgba(255, 255, 255, 0.9);
}
.card.alt .button-container:active:before, .card.alt .button-container:focus:before {
  display: none;
}

/*Products*/
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400);
.snip1423 {
    font-family: 'Oswald', Arial, sans-serif;
    position: relative;
    float: left;
    margin: 1% 1% 6% 1%;
    min-width: 23%;
    max-width: 31%;
    width: 23%;
    background: #ffffff;
    text-align: center;
    color: #000000;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    font-size: 100%;
    padding: 1%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.snip1423 * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.snip1423 img {
  min-width: 100%;
  max-width: 100%;
  vertical-align: top;
  position: relative;
}
.snip1423 figcaption {
  padding: 20px 15px;
}
.snip1423 h3,
.snip1423 p {
  margin: 0;
}
.snip1423 p2 {
  position: absolute;
  right: 10px;
  bottom: 5px;
}
.snip1423 h3 {
  font-size: 1.3em;
  font-weight: 400;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.snip1423 p {
  font-size: 0.9em;
  letter-spacing: 1px;
  font-weight: 300;
}
.snip1423 .price {
  font-weight: 500;
  font-size: 1.4em;
  line-height: 48px;
  letter-spacing: 1px;
}
.snip1423 .price s {
  margin-right: 5px;
  opacity: 0.5;
  font-size: 0.9em;
}
.snip1423 i {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  width: 56px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  background-color: #666666;
  color: #ffffff;
  font-size: 1.6em;
  border: 4px solid #ffffff;
}
/*.snip1423 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}*/
.snip1423:hover,
.snip1423.hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.snip1423:hover i,
.snip1423.hover i {
  background-color: #6394F8;
}

/*Product Info*/
body{
  margin: 0;
  padding: 0;
  border: 0;

  background-color: #EEEEEE;
  color: #444;
  font-family: "Helvetica", sans-serif;
  height: 100%;
  width: 100%;
}

*{
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
  border: 0;
}

h1{
  font-size: 130%;
}

h2{
  color: #aaa;
  font-size: 18px;
  font-weight: 400;
}


p{
  font-size: 12px;
  line-height: 1.5;
}

/*.wrapper{
  padding: 20px 0px;
}*/

.nav{
  background-color: #eee;
  width: 100%;
  text-align: center;
  padding: 20px 3% 70px 3%;
  /*padding: 0px 3%;*/
}

.nav .logo{
  display: inline-block;
  float: left;
  width: auto;
}

.nav .logo img{
  width: 120px;
}

.nav .nav-links{
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}

.nav-links a{
  color: #000;
  font-size: 12px;
  text-decoration: none;
  margin: 0px 15px;
}

.nav-links a:hover{
  border-bottom: 2px solid #000;
}

.nav .cart-icon{
  color: #444;
  display: inline-block;
  float: right;
}

.product{
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  clear: both;
  padding: 0px 10% 70px 10%;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}


.col-1-2{
  width: 50%;
  height: 100%;
  float: left;
}

.product-image{
  /*border: 1px dotted #aaa;*/
}

.product-image .bg{
  background-image: url('https://cdn.shopify.com/s/files/1/0199/4554/products/fncwdmain_1024x1024.png?v=1428681549');
  background-size: cover;
  background-position: center top;
  width: 100%;
  min-height: 450px;
}

.product-image .indicator{
  text-align:center;
}

.product-image .dot{
  background-color: #aaa;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  width: 5px;
  height: 5px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.dot:hover{
  background-color: #444;
}

.product-info{
  padding: 0px 8%;
}

.product-info h1{
  margin-bottom: 5px;
}

.product-info h2{
  margin-bottom: 50px;
}

.product-info .select-dropdown{
  display: inline-block;
  margin-right: 10px;
  position: relative;
  width: auto;
  float: left;
}

.product-info select{
  cursor: pointer;
  margin-bottom: 20px;
  padding: 12px 92px 12px 15px;
  background-color: #fff;
  border: none;
  border-radius: 2px;
  color: #aaa;
  font-size: 12px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

select:active, select:focus {
  outline: none;
  box-shadow: none;
}

.select-dropdown:after {
    content: " ";
  cursor: pointer;
    position: absolute;
    top: 30%;
  right: 10%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #aaa;
  }

.product-info a.add-btn{
  background-color: #444;
  border-radius: 2px;
  color: #eee;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 30px;
  padding: 15px 100px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

a.add-btn:hover{
  background-color: #555;
}

.product-info p{
  margin-bottom: 30px;
}

.product-info p a{
  border-bottom: 1px dotted #444;
  color: #444;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.product-info p a:hover{
  opacity: .7;
}

.product-info ul{
  font-size: 12px;
  padding: 0;
  margin-bottom: 50px;
}

.product-info li{
  list-style-type: none;
  margin-bottom: 5px;
}

.product-info li::before{
  content:"\2022";
  margin-right: 20px;
}


.product-info a.share-link{
  color: #aaa;
  font-size: 11px;
  margin-right: 30px;
  text-decoration: none;
}

.product-info a.share-link:hover{
  border-bottom: 2px solid #aaa;
}

footer{
	background-color: #212121;
	clear: both;
	width: 100%;
	padding: 20px 10% 10px 10%;
	text-align: center;
	vertical-align: middle;
}

footer img{
	display: inline-block;
	height: 20px;
	width: auto;
	margin-bottom: 10px;
	margin-right: 10px;
	vertical-align: middle;
}

footer h3{
  color: #bbb;
  font-size: 12px;
  font-weight: 700;
	display: inline-block;
	height: 20px;
  letter-spacing: .8px;
	margin-bottom: 0px;
  text-transform: uppercase;
	vertical-align: middle;
}

/* Add Product Icon */
.add-product-icon {
    /*font-family: 'Oswald', Arial, sans-serif;*/
    position: relative;
    float: left;
    margin: 1% 1% 6% 1%;
    min-width: 23%;
    max-width: 31%;
    width: 23%;
    background: #ffffff00;
    text-align: center;
    color: #000000;
    font-size: 100%;
    padding: 14% 1% 13% 1%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.add-product-icon:hover,
.add-product.hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.add-product-icon:hover i,
.add-product.hover i {
  background-color: #6394F8;
}
.add-product figcaption {
  padding: 20px 15px;
}

.add-product-icon i {
  position: absolute;
  /*bottom: 0;*/
  padding: 5% 1% 1% 1%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  width: 56px;
  line-height: 36px;
  text-align: center;
  border-radius: 50%;
  background-color: #666666;
  color: #ffffff;
  font-size: 1.6em;
  border: 4px solid #ffffff;
}

/* Add Product Page */

@charset "UTF-8";
.container {
  /*background-image: linear-gradient(-128deg, rgba(255, 181, 32, 0.93) 3%, rgba(239, 39, 153, 0.93) 88%, rgba(237, 18, 171, 0.93) 100%);*/
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.add-product {
  transition: all 0.3s ease;
  background-color: #FFC145;
  height: 144px;
  width: 144px;
  border-radius: 72px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.07);
  cursor: pointer;
}
.add-product.open {
  background-color: #FAFAFA;
  padding: 18px 32px;
  border-radius: 5px;
  width: 420px;
  height: 398px;
  cursor: default;
}
.add-product.open form {
  opacity: 1;
  transition: opacity 0.1s ease;
  transition-delay: 0.3s;
  height: auto;
}
.add-product .button-copy {
  text-align: center;
  line-height: 144px;
  text-transform: uppercase;
  font-weight: bold;
  color: #f7f7f7;
}
.add-product form {
  transition: none;
  opacity: 0;
  height: 0;
  overflow: hidden;
}
.add-product .cancel {
  font-size: 12px;
  text-align: center;
  margin-top: 1em;
}
.add-product .cancel span {
  cursor: pointer;
}
.add-product .cancel span:hover {
  text-decoration: underline;
}

.submit-button {
  display: block;
  background-color: #3498DB;
  height: 40px;
  border-radius: 20px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.875em;
  border: none;
  font-weight: 700;
  padding: 0 34px;
  margin: 0 auto;
}
.submit-button img {
  position: relative;
  top: 3px;
  right: 6px;
}
.submit-button:hover {
  background-color: #217dbb;
  cursor: pointer;
}

.featured-note {
  color: #949494;
  font-size: 12px;
  margin: 4px 0px;
  line-height: 18px;
  font-style: italic;
}

form * {
  outline: none;
}

label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  user-select: none;
}
label.emoji input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 21px;
  margin: 0;
  display: none;
}
label.emoji input + span:after {
  content: "😶";
  font-size: 18px;
  top: 2px;
  left: 2px;
  position: relative;
  height: 18px;
  display: inline-block;
}
label.emoji input:checked + span:after {
  content: "😀";
}

.form--field {
  width: 420px;
  margin: 10px 0;
}
.form--field.-short {
  width: 120px;
}

.form--price {
  position: absolute;
  line-height: 38px;
  width: 16px;
  color: #C7C7C7;
  text-align: center;
}
.form--price + input {
  padding-left: 14px;
}

.form--container {
  width: 420px;
}
.form--container.-inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: -12px;
}

.form--element {
  background-color: #fff;
  border: 1px solid #ECECEC;
  border-radius: 3px;
  font-size: 14px;
  line-height: 28px;
  padding: 0 4px;
  color: #3D3D3D;
  width: 100%;
  margin: 4px 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
.form--element:focus {
  border: 1px solid #FFC145;
  border-radius: 2px;
}
.form--element:not(.texteare) {
  height: 30px;
}
.form--element.textarea {
  height: 80px;
  resize: none;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #F3F4F5;
  cursor: default;
}

a {
  text-decoration: none;
  cursor: pointer;
}

::selection {
  background-color: #F5617A;
  color: #fff;
}

::-moz-selection {
  background-color: #F5617A;
  color: #fff;
}

/*212121 2980b9 suay*/
